{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #e3e7eb;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text">
        This is a rich-featured blog app made by using django framework in
        Python. It was deployed on Render and files upload handles by using AWS
        S3 buckets.
      </p>
      <a href="https://docs.djangoproject.com/en/4.0/" class="btn btn-danger"
        >Know more!
      </a>
    </div>
  </div>
</div>

{% endblock sidebar %}
