{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <h1 class="mt-2">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
        <div class="col-md-8 mt-3 left">
            {% for post in posts %}
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-1">
                            <img class="rounded-circle" height="65px" width="65px"
                                src="{{ post.author.profile.image.url }}">
                        </div>
                        <div class="col ms-3">
                            <h3>
                                <a class="text-decoration-none" href="{{ post.get_absolute_url }}">
                                    {{post.title}}
                                </a>
                            </h3>
                            <div class="card-text text-muted h6 ">
                                <a class="text-decoration-none" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a> |
                                <small>{{ post.date_posted|date:"F d, Y" }}</small>
                            </div>
                            <p class="card-text">{{post.content|slice:":200" }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Sidebar Widgets Column -->
        {% block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar %}
    </div>
    {% if is_paginated %}

    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
        href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}

        {% endif %}
</div>

{% endblock content %}