{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-7">
    <!-- Table -->
    <div class="row">
        <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2 mt-2">
                        <div class="card-profile-image">
                            <img src="{{ user.profile.image.url }}" class="rounded-circle" height="170px" width="170px">
                        </div>
                    </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between">
                        <a href="#" class="btn btn-sm btn-info ms-5">{{ user.username }}</a>
                        <a href="#" class="btn btn-sm btn-default float-right">{{ user.email }}</a>
                    </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <div class="text-center">
                        <h3>
                            {{ user.username }}
                        </h3>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{update_form|crispy}}
                        <br>
                        {{profile_form|crispy}}
                        <div class="my-2">
                            <button type="submit" class="btn btn-outline-danger">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}